<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@400&display=swap" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>メモ新規作成</title>
</head>
<body>

<header>
    <div class="title-link emoji">
        <a th:href="@{/}">🏠</a>
    </div>

    <!-- 投稿ボタン -->
    <div class="header-create">
        <button type="submit" form="memoForm" class="emoji">📥</button>
    </div>
</header>

<div class="form">
    <form id="memoForm" th:action="@{/memos}" th:method="post" th:object="${memoForm}">
        <!-- タイトル入力欄 -->
        <div class="form_title">
            <input type="text" placeholder="タイトルを入力" id="title" th:field="*{title}" required>
        </div>

        <!-- 本文入力欄 -->
        <div class="form_content">
            <textarea id="content" placeholder="本文を入力してください" th:field="*{content}" required></textarea>
        </div>
    </form>
</div>

</body>
</html>